/* "plate.css" is to be used by websites that follow the lm design standards.
 * We relize that our standards cannot be the best ones out there.
 * but we are confident that it's damn well near close.
 */
 
body
{
	/*box-shadow: 0px 0px 50px black;*/
	margin:0;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing:0.05em;
	font-size:18px;
	text-rendering: optimizelegibility;
	line-height: 1.25;
}

header
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	padding:20px 0;
}

header label
{
	padding: 10px 15px;
	margin-top: 4%;
	background-color: #999;
	float:left;
}

header input:last-child
{
	float:right;
}

header,footer
{
	text-align:center;
}

nav
{
	display:inline-block;
	text-align:left;
}

header a
{
	color:#333;
}

#loginForm{
	display: flex;
	position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#loginForm #buttonWrapper{
	text-align: center;
}

.nameLabel{
	display: inline-block;
	width: 10%;
	margin-left: 0;
	margin-right: auto;
	text-align: center;
	padding: 10px 10px;
	background-color: #8965E4;
}

section
{	
	width: 100%;
	display:flex;
	justify-content: center;
	align-items:flex-start;
}

section.banner {
    overflow: hidden;
    height: 300px;
    background-color: #0D8A00;
    align-items: stretch;
}

#title
{
	padding-left: 15px;
}

#logo
{
	height:100px;
	display:inline-block;
	margin-right: 20px;
}

#logo,#title
{
	vertical-align:middle;
	display:inline-block;
}



#slideshow
{
	width:1200px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 25px 1px #1b043e;
}

#slideshow h2
{
	position:absolute;
	background-color:rgba(85,214,72,.75);
	color:#eee;
	width:100%;
	margin-top:30;
	padding:0.2em 1em;
}

#slideshow div {
    position: absolute;
    width:100%;
    display:block;
    
}
#slideshow div img
{
	display:block;
	width:100%;
	
}

main, aside
{
	display:block;
	box-sizing:border-box;
	padding:10px;
	margin:20px;
}

aside
{
	width:300px;
}

.widget
{
	display: table;
	height: 260px;
	width: 260px;
	text-align: center;
}

.widget a
{
	display: table-cell;
	vertical-align: middle;
	border:3px solid #3EC330;
	color: #3EC330;
	transition:all .25s;
}

.widget a:hover
{
	border:8px solid rgba(23, 121, 13, 0.75);
	font-size: 1.2em;
	color: rgba(23, 121, 13, 0.75);
}

.content
{
	width: 80%;
	margin: auto;
}

#homepage
{
	width: 100%;
	height: 800px;
	display: block;
	background-image: url("/img/Golf Images/backgroundImage.jpg");
	background-repeat: no-repeat;
}

main
{
	width:900px;
}
article
{
	display:block;
	margin:1.5em auto;
}

footer
{
	border-top:40px solid rgba(23, 121, 13, 0.75);
	font-size:0.9em;
}

footer nav
{
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	height:50px;
	max-width:300px;
	margin:10 auto;
}

/*
footer::after
{
	content: "";
	margin: 0 auto;
	display: block;
	width: 75%;
	height: 2px;
	background-color: rgb(102,131,227);
	background: linear-gradient(to left,rgba(0,0,0,0), #8965E4, rgba(0,0,0,0));
}*/
