/* "plate.css" is to be used by websites that follow the lm design standards.
 * We relize that our standards cannot be the best ones out there.
 * but we are confident that it's damn well near close.
 */
/*-------------------------------*/
/*Color Pallete*/
/*Blue Background: #0066cc*/
/*Green Column Labels: #4d9900*/
/*Text Color: white and black*/
/*Add Timesheet Button: #ff751a; */
/*Change Password Button: #c5a224; */
/*Name Label: #80aaff*/
/*Password Change: #c5a224; */
/* */
/*-------------------------------*/
body
{
	/*box-shadow: 0px 0px 50px black;*/
	margin:0;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing:0.05em;
	font-size:18px;
	text-rendering: optimizelegibility;
	line-height: 1.25;
	background-color: #0066cc;
}

header
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	padding:20px 0;
}

header label
{
	padding: 10px 15px;
	margin-top: 4%;
	background-color: #80aaff;
	float:left;
	border-radius: 4px;
}

header input:last-child
{
	float:right;
}

header,footer
{
	text-align:center;
}

nav
{
	display:inline-block;
	text-align:left;
}

header a
{
	color:#333;
}

/*Modal CSS*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	display: block;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 55%; /* Could be more or less, depending on screen size */
}

 .modalInputWrapper, .modalOptionsWrapper{
	display: flex;
	width: 100%;
	margin: 0 auto;
}

.modalInputWrapper{
	margin-top: 10px;
}

.modal-content .modalInputWrapper input[type=text]{
	margin: 0 auto;
}

.modalOptionsWrapper {
	margin-top: 10px;
}

.modal .modal-content .modalOptionsWrapper input{
	margin: 0 auto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*---------------*/

/*Login Form CSS*/

#loginForm{
	display: flex;
	position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#loginForm #buttonWrapper{
	text-align: center;
}

/*---------------*/

section
{	
	width: 100%;
	display:flex;
	justify-content: center;
	align-items:flex-start;
}


main, aside
{
	display:block;
	box-sizing:border-box;
	padding:10px;
	margin:20px;
}

aside
{
	width:300px;
}

.widget
{
	display: table;
	height: 260px;
	width: 260px;
	text-align: center;
}

.widget a
{
	display: table-cell;
	vertical-align: middle;
	border:3px solid #3EC330;
	color: #3EC330;
	transition:all .25s;
}

.widget a:hover
{
	border:8px solid rgba(23, 121, 13, 0.75);
	font-size: 1.2em;
	color: rgba(23, 121, 13, 0.75);
}

.content
{
	width: 80%;
	margin: auto;
}

main
{
	width:900px;
}
article
{
	display:block;
	margin:1.5em auto;
}

footer
{
	border-top:40px solid rgba(23, 121, 13, 0.75);
	font-size:0.9em;
}

footer nav
{
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	height:50px;
	max-width:300px;
	margin:10 auto;
}

/*
footer::after
{
	content: "";
	margin: 0 auto;
	display: block;
	width: 75%;
	height: 2px;
	background-color: rgb(102,131,227);
	background: linear-gradient(to left,rgba(0,0,0,0), #8965E4, rgba(0,0,0,0));
}*/
